@font-face {
  font-family: consola;
  src: url('fonts/CONSOLA.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: consola;
  src: url('fonts/CONSOLAB.TTF');
  font-weight: bold;
  font-style: normal;
}

* {
    touch-action: none !important; /* mitigates button issues on iOS */
    font-family: arial;
}

[id^=Key] {
  display: inline-block;
	height: calc((100vh - 6vw - 50px)/3);
	max-height: 80px;
	width: calc(90%/5);
	max-width: 80px;
	border: none;
	margin: 1%;
	background: transparent;
	cursor: pointer;
	outline: none;
  position: relative;
}

.btnBg {
  z-index: 0;
  border-radius: 0.75em;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.65);
  cursor: pointer;
  display: block;
}

.btnImg {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
  cursor: pointer;
  display: block;
}

@keyframes click-key {
	from {transform: scale(1, 1);}
	50% {transform: scale(0.5, 1);}
	50% {transform: scale(0, 1);}
	to {transform: scale(1, 1);}
}

@keyframes click-scale {
  from {transform: scale(1);}
  50% {transform: scale(0.9);}
  to {transform: scale(1);}
}

.keyScale {
  animation-name: click-scale;
    animation-timing-function: linear;
    animation-duration: 0.15s;
    animation-iteration-count: initial;
  animation-play-state: 1;
  /* For Chrome & Safari */
   
  -webkit-animation-name: click-scale;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration:0.15s;
  -webkit-animation-iteration-count: initial;
  -webkit-animation-play-state: 1;
}

.keyTurn{
	animation-name: click-key;
    animation-timing-function: linear;
    animation-duration: 0.15s;
    animation-iteration-count: initial;
	animation-play-state: 1;
	/* For Chrome & Safari */
   
	-webkit-animation-name: click-key;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration:0.15s;
	-webkit-animation-iteration-count: initial;
	-webkit-animation-play-state: 1;
}


.musicButton{
	background: rgba(22, 22, 22, 0.65);
	background-image: url('./images/Harp.png');
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
  border-radius: 50%;
	height: 40px;
	width: 40px;
	border: none;
  margin-left: 1em;
  vertical-align: middle;
  cursor: pointer;
}
.instrumentButton{
	background-position: center;
	background-size: contain;
	background-color: transparent;
	border: none;
	height:40px;
	width:40px;
	margin:2px;
}
.instrumentsWrapper{
	text-align: center;
	border-radius: 1em;
	background-color: rgba(22, 22, 22, 0.65); ;
	display: none;
	width: 12vh;
	position: absolute;
	max-height: 60%;
	overflow-y: auto;
	right: 5%;
	top:10%;
}
@keyframes bounce-background {
	from {
    background-position: top;
  }
	50% {background-position: bottom;}
	50% {background-position: middle;}
	to {background-position: top;}
}
/*
.musicButton:hover{
	animation-name: bounce-background;
    animation-timing-function: ease-in-out;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;

   -webkit-animation-name: bounce-background;
   -webkit-animation-timing-function:ease-in-out;
   -webkit-animation-duration:2.5s;
   -webkit-animation-iteration-count:infinite;
}
*/



[id^=Key]::selection {
	background-color: transparent;
}

[id^=Key]::-moz-selection {
	background-color: transparent;
}

[id^=Key] {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	/*IE10*/
	-ms-user-select: none;
	user-select: none;
	/*You just need this if you are only concerned with android and not desktop browsers.*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="text"],
textarea,
[contenteditable] {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

button span {
	display: none;
}

.bottomSavedSongsDiv {
	border-top: 2px solid #dad8b3;
  position: sticky;
  bottom: 0;
  padding: 0.5em;
  box-sizing: border-box;
  background: #333;
  width: 100%;
  display: inline-flex;
}

.bottomSavedSongsDiv .skyButton {
  width: calc(50% - 1em);
}

.topSavedSongsDiv {
  padding: 0.5em;
  box-sizing: border-box;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.floatingDiv {
	text-align: center;
	width: 75%;
	position: absolute;
	margin-top: 5vh;
	margin-left: 12.5%;
	background-color: #414141;
	color: #dad8b3;
	border: solid #dad8b3 2px;
	border-radius: 1.5em;
	display: none;
	z-index: 10;
  max-height: 90vh;
  overflow: auto;
}

.floatingDiv h3 {
  padding: 0.5em;
  box-sizing: border-box;
  margin-bottom: 0;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.video {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-image: url('./AnimatedBG/skygame-banner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.skyButton {
	color: #dad8b3;
	border: solid #dad8b3 1.5px;
	background-color: rgba(22, 22, 22, 0.65);
	border-radius: 0.5em;
	font-size: 1em;
	padding: 0.4em;
	box-sizing: border-box;
	cursor: pointer;
	margin: 0.5em;
	outline: none;
}

.menuDiv {
	width: 100%;
	text-align: center;
  height: 50px;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#touch {
  height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	justify-content: center;
  padding: 1%;
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  /*
	.musicButton { top: 20%; width: 10vh; left:50%; margin-right: -50%; transform: translate(-50%, -50%);}
  */
}