* {
    margin: 0;
    font-family: Arial;
    user-select: none;
}

body {
    background: rgb(115, 181, 210);
    background: linear-gradient(190deg, rgba(115, 181, 210, 1) 0%, rgba(108, 160, 114, 1) 63%);
    padding: 0;
    height: 100%;
    min-height: 100vh;
    text-align: center;
}

.notesWrapper {
    width: 100%;
    height: 40%;
    align-items: center;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#songContainer {
    width: 75%;
    height: 95%;
    border: solid 2px #dad8b3;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 1);
    padding: 5px;
    margin: 4px 0 0 0.5em;
    text-align: left;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.addPage{
    height: calc(100% + 5px);
    border: solid 2px #dad8b3;
    border-radius: 5px;
    font-size: 1.2em;
    z-index: 10;
    background-color: rgba(22, 22, 22, 1);
    color: #dad8b3;
    padding: 5px;
    margin: 4px 0.5em 0 -4px;
}
.toolsContainer {
    width: 7%;
    height: 100%;
    border-radius: 10px;
    background-color: #dad8b3;
    padding: 2px;
    border: 2px solid #dad8b3;
}

.toolPlaceholder {
    position: absolute;
    margin-left: 2px;
    font-size: 0.7em;
    color: #dad8b3;
}

.tool {
    white-space: initial;
    width: 100%;
    height: 25%;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #dad8b3;
    background-color: rgba(22, 22, 22, 1);
    color: #dad8b3;
    text-align: center;
}

.cell {
    display: inline-block;
    width: 1.5vw;
    min-width: 1.5vw;
    height: 100%;
    margin-right: 0.2em;
    background-color: #dad8b3;
    opacity: 0.6;
    padding-bottom: 0.1em;
}

.note {
    height: calc((100% / 15) - 0.1em);
    width: 80%;
    margin: auto;
    margin-top: 0.1em;
    background-color: transparent;
    text-align: center;
}

#touch {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

[id^=Key] {
    display: inline-block;
    height: calc(45vh/3);
    max-height: 80px;
    width: calc(45vh/3);
    max-width: 80px;
    padding: 0.5vh;
    background: transparent;
    cursor: pointer;
    position: relative;
}

.btnBg {
    z-index: 0;
    padding-top: 1.3em;
    border-radius: 0.8em;
    box-sizing: border-box;
    border: 5px solid transparent;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.65);
    cursor: pointer;
    display: block;
}

.btnImg {
    width: calc(100% - 0.75vw);
    height: calc(100% - 0.75vw);
    z-index: 1;
    position: absolute;
    top: 0.375vw;
    left: 0.375vw;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
    cursor: pointer;
    display: block;
}

.skyButton {
    border: solid 2px #dad8b3;
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0.2em;
    color: #dad8b3;
    min-width: 5vw;
    background-color: rgba(22, 22, 22, 0.65);
}

.tempoButton {
    font-weight: bold;
    margin: 0.2em;
    border: solid 2px #dad8b3;
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0.2em;
    color: rgba(22, 22, 22, 0.65);
    min-width: 5vw;
}

.select {
    border: solid 2px #dad8b3;
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0.2em;
    color: #dad8b3;
    background-color: rgba(22, 22, 22, 0.65);
    margin-bottom: 0.4em;
    width: 100%;
}

.floatingBottomLeft {
    position: absolute;
    left: 2%;
    top:60vh;
    display: flex;
    flex-direction: column;
}

.floatingBottomRight {
    position: absolute;
    right: 2%;
    top:60vh;
    bottom: 2%;
    display: flex;
    flex-direction: column;
}

.btnText {
    font-family: Arial;
    color: #dad8b3;
    font-size: 1.2em;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}