* {
    margin: 0;
    font-family: Arial;
    user-select: none;
}

body {
    background-color: #0E0E0E;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    -ms-touch-action: none;
    display: flex;
    flex-direction: column;
}

.floatingMessage {
    position: absolute;
    width: 40%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 15%;
    top: 70%;
    border:1.5px #676761 solid;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-family: Arial;
    font-weight: bold;
    color: #dad8b3;
    background-color: rgba(22, 22, 22, 0.95);
    display: none;
    z-index: 110;
    border-radius: 0.8em;
}

.notesWrapper {
    width: 100%;
    height: 45vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    box-sizing: border-box;
}

.numberPicker {
    border: none;
    background-color: transparent;
    color: #dad8b3;
    font-size: 15px;
    width: 45px;
    text-align: center;
}

#songContainer {
    height: 100%;
    border-radius: 10px;
    background-color: #1E1E1E;
    padding-bottom: 1px;
    text-align: left;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    border: 2px #383838 solid !important;
    flex-grow: 1;
    margin: 0 0 0 5px;
}

.addPage {
    height: 100%;
    min-width: 25px;
    border-radius: 5px;
    font-size: 1.2em;
    z-index: 10;
    border: none;
    background-color: #383838;
    color: #dad8b3;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 0;
    margin-left: 2px;
}

.toolsContainer {
    min-width: 120px;
    width: 120px;
    height: 100%;
    border-radius: 10px;
    background-color: #1E1E1E;
    padding: 2px;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    z-index: 10;
}

.toolsContainer div {
    width: 50%;
    height: 25%;
    position: relative;
    padding: 2px;
    box-sizing: border-box;
}

.toolPlaceholder {
    position: absolute;
    top: 10px;
    width: calc(100% - 4px);
    font-size: 0.7em;
    color: #dad8b3;
    display: block;
}

.tool {
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-origin: border;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: none;
    border-radius: 6px;
    border-bottom: 2px solid transparent;
    background-color: #383838;
    color: #dad8b3;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none;
    padding: 0;
}

.mirrorX {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.tool.half {
    width: 45%;
}

div.full {
    width: 100%;
}

.cell {
    min-width: 1.6vw;
    height: 100%;
    border-right: 0.15vw solid #1E1E1E;
    background-color: #dad8b3;
    opacity: 0.6;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.beatStop{
    border-right-width: 0.3vw;
}
.note {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 2px transparent;
    height: calc((100% / 15) - 0.1em);
    width: 80%;
    margin: auto;
    margin-top: 0.1em;
    border-radius: 0.1em;
    outline: none !important;
    background-color: transparent;
}

#bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: center;
}

#touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    padding: 2px;
    max-height: 55vh;
    box-sizing: border-box;
}
#playIndicator{
    position: absolute;
    display: none;
    width: 1.6vw;
    height: 55vh;
    background-color: rgba(235, 0, 27, 0.2);
    z-index: 5;
}
[id^=row] {
    display: flex;
    height: calc((100% + 1vh)/3);
    max-height: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

[id^=Key] {
    display: inline-block;
    height: calc(100% - 1vh);
    width: calc((100% - 5vh)/5);
    margin: 1px;
    max-width: 80px;
    max-height: 80px;
    padding: 0.5vh;
    background: transparent;
    cursor: pointer;
    position: relative;
    object-fit: contain;
}

[id^=Key],
button {
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btnBg {
    z-index: 0;
    border-radius: 0.8em;
    box-sizing: border-box;
    border: 5px solid transparent;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.8);
    cursor: pointer;
    display: block;
}

.btnImg {
    width: calc(100% - 1vh);
    height: calc(100% - 1vh);
    z-index: 1;
    position: absolute;
    top: 0.5vh;
    left: 0.5vh;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
    cursor: pointer;
    display: block;
}

.skyButton,
.tempoButton,
.select {
    cursor: pointer;
    height: 30px;
    margin: 4px 2px 0 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
select{
    -webkit-appearance: none;
    -webkit-border-radius: none;
    background-image:url(./icons/expandDown2.svg);
    background-repeat:no-repeat; 
    background-position: 100%;
}
.skyButton {
    -webkit-appearance: none;
    -webkit-border-radius: none;
    border: none;
    text-decoration: none;
    border-radius: 0.4em;
    box-sizing: border-box;
    background-color: #383838;
    color: #dad8b3;
    font-weight: bold;
}

.tempoButton {
    -webkit-appearance: none;
    -webkit-border-radius: none;
    font-weight: bold;
    width: 8vw;
    min-width: 0;
    border: none;
    text-decoration: none;
    border-radius: 0.3em;
    color: rgba(22, 22, 22, 0.65);
}

.tempoContainer {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    display: flex;
    flex-direction: column;
}

.select {
    text-decoration: none;
    border-radius: 0.3em;
    border: none;
    color: #dad8b3;
    width: 10vw;
    background-color: #383838;
    text-align-last: center;
    padding: 0 10px 0 10px;
    display: block;
    float: right;
    margin-left: 1vw;
}

.settingOption {
    width: 100%;
    color: #dad8b3;
    display: flex;
    flex-direction: row;
    margin-top: 0.3rem;
    justify-content: space-between;
    align-content: center;
}

.settingOption div {
    display: flex;
    align-items: center;
}

.settingOption button,
.settingOption select,
.settingOption input {
    min-width: 25%;
}

.floatingBottomLeft {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
}

#bpm {
    float: right;
    text-align: center;
    width: 10vw;
}

.btnText {
    font-family: Arial;
    color: #dad8b3;
    font-size: 1.2em;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@keyframes click-key {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes click-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes click-key {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes click-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.keyScale {
    animation-name: click-scale;
    animation-timing-function: linear;
    animation-duration: 0.15s;
    animation-iteration-count: initial;
    animation-play-state: 1;
    /* For Chrome & Safari */

    -webkit-animation-name: click-scale;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 0.15s;
    -webkit-animation-iteration-count: initial;
    -webkit-animation-play-state: 1;
}

.keyTurn {
    animation-name: click-key;
    animation-timing-function: linear;
    animation-duration: 0.15s;
    animation-iteration-count: initial;
    animation-play-state: 1;
    /* For Chrome & Safari */

    -webkit-animation-name: click-key;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 0.15s;
    -webkit-animation-iteration-count: initial;
    -webkit-animation-play-state: 1;
}
.instrumentPickerWrapper{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.volumePicker{
    margin-left: auto;
    min-width: 35% !important;
}
#settingsDiv {
    position: absolute;
    border: 1.5px #676761 solid;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 1);
    display: none;
    width: 70%;
    height: 60%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top: 25%;
    z-index: 100;
    text-align: left;
    padding: 1vw;
    overflow-y: auto;
}

#importMIDIDiv {
    color: #dad8b3;
    position: absolute;
    border: 1.5px solid #383838;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 1);
    display: none;
    right: 0.5em;
    bottom: 0.5em;
    z-index: 100;
    text-align: left;
    padding: 1vw;
    overflow-y: auto;
    height: 50%;
    width: 40%;
    opacity: 0.95;
    font-size: 0.9em;
}
.midiImportSetting{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vh;
}
#successColor{
    margin-top: 1vh;
}
.MIDIButton{
    min-width: 15%;
    width: 6vw;
    text-align: center;
}
.MIDIButtonsWrapper{
    flex:1;
    display: flex;
}
#toolsDiv {
    color: #dad8b3;
    position: fixed;
    border: 1.5px solid #383838;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 1);
    display: none;
    flex-direction: column;
    width: 60%;
    height: 47vh;
    left: 0;
    right: 0;
    bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
    margin-left: auto;
    z-index: 100;
    text-align: left;
    padding: 1vw;
    overflow-y: auto;
}

#finishedSelection {
    margin-left: 1em;
    width: 4vw;
    min-width: 4vw;
    height: 4vw;
    margin-top: 0;
    font-size: 1.2em;
    border-radius: 0.3rem;
    flex: 1 1 0;
}

#copyLayerBtn,#invertLayerBtn,#eraseLayerBtn  {
    background:rgba(235, 0, 27, 0.7);
}

#endCopyBtn {
    float: right;
    border: 1.5px solid transparent;
}

#startCopyBtn {
    float: right;
    border: 1.5px solid transparent;
}
.division{
    border: solid 1px #dad8b3;
    background-color: #dad8b3;
    margin: 0 1vw;
    max-height: 6vh;
    height: 6vh;
}
.toolButton {
    min-height: 4vh;
    min-width: 5vw;
    flex:1;
    margin-top: unset;
}
.settingRow{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.3rem;
}
.rightContainer {
    position: fixed;
    left: 0.5em;
    bottom: 0.5em;
    display: flex;
    flex-direction: column;
}

.toolsContainerRight {
    min-width: 60px;
    width: 60px;
    margin-left: 5px;
}

#promptDiv {
    z-index: 100;
    display: none;
    padding: 1em;
    position: absolute;
    text-align: center;
    width: 40%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top: 5%;
    color: #dad8b3;
    border: 2px #383838 solid;
    border-radius: 0.8em;
    background-color: rgba(15, 15, 15, 0.9);
}

#promptInput {
    width: 100%;
    text-align: center;
    margin: 10px 0 5px;
    height: 30px;
    border-radius: 5px;
    outline: 0;
    background: rgba(100, 100, 100, 0.9);
    border: 0;
    color: white;
}

#promptInput::placeholder {
    color: white;
    opacity: 0.7;
}

#promptOK,
#promptCancel,
#replaceSong,
#choseAnotherName,
#splitSong,
#mergeSong {
    flex: 1 1 0;
    margin: 0;
    background: rgba(75, 75, 75, 0.9);
}

#promptCancel,
#replaceSong,
#splitSong {
    margin-right: 2%;
}
#smallToolContainer2{
    width: 35px;
    min-width: 35px;
    display: none;
}
#smallToolContainer{
    width: 60px;
    display: none;
    min-width: 60px;
}
.addRemoveCell{
    background-size: 32% !important;

}
@media screen and (min-width: 1800px) {
    #smallToolContainer2{
        min-width: 80px;
        width: 80px;
    }
    #smallToolContainer{
        min-width: 120px;
        width: 120px;
    }
    .floatingMessage{
        font-size: 1.5rem;
    }
    div {
        font-size: 2rem;
    }

    .note {
        border: solid 4px transparent;
        border-radius: 0.15em;
    }

    [id^=Key] {
        max-height: 15vh;
        max-width: 10vw;
    }

    [id^=row] {
        max-height: 15vh;
    }

    .tool {
        font-size: 2rem;
        border-radius: 0.8rem;
    }

    .skyButton,
    .tempoButton,
    .select {
        font-size: 2rem;
        height: 6vh;
        margin: 0.2rem;
    }

    .addPage {
        min-width: 50px;
    }

    .toolsContainer div {
        padding: 5px;
    }

    .skyButton {
        font-size: 2rem;
    }

    .btnBg {
        border-radius: 2rem;
    }

    .btnText {
        font-size: 2rem;
    }
    .toolsContainer {
        min-width: 250px;
    }

    .toolsContainerRight {
        min-width: 125px;
    }
    #promptInput{
        height: 80px;
        font-size: 2rem;
    }
}

@media screen and (min-width: 3500px) {

    .floatingMessage{
        font-size: 3rem;
    }
    div {
        font-size: 4rem;
    }

    .note {
        border: solid 8px transparent;
        border-radius: 0.15em;
    }

    .tool {
        font-size: 4rem;
        border-radius: 1.5rem;
    }

    .skyButton,
    .tempoButton,
    .select {
        font-size: 3.5rem;
        height: 6vh;
        margin: 0.4rem;
        border-radius: 1.5rem;
    }

    .addPage {
        min-width: 100px;
    }

    .toolsContainer div {
        padding: 10px;
    }

    .btnBg {
        border-radius: 3.5rem;
    }

    .btnText {
        font-size: 4rem;
    }
    .toolsContainer {
        min-width: 500px;
    }

    .toolsContainerRight {
        min-width: 250px;
    }
    #promptInput{
        height: 120px;
        font-size: 4rem;
    }
}
/* width */
::-webkit-scrollbar {
    border-radius: 2px;
    height:1.5vh;
}
.smallScrollBar::-webkit-scrollbar{
    height:0.5vh;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgba(44, 44, 44, 0.8);
    border-radius: 2px;
  }
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #dad8b3;
    border-radius: 2px;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity:0.6;
  }
  .tool:hover, .skyButton:hover, .select:hover{
    background-color: #484740;
}
  .tool:active{
    background-color: #636150;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.noWebkit{
    -webkit-appearance: none;
    -webkit-border-radius: none;
    background-image:url(./icons/expandDown.svg);
    background-repeat:no-repeat; 
    background-position: 100%;
}
@media only screen and (orientation:portrait) {
    #finishedSelection{
        height: 5vh;
        width: 5vh;
        min-width: 5vh;
    }
    .addPage {
        min-width: 6vw;
    }
    .addRemoveCell{
        background-size: 70% !important;
    }
    #smallToolContainer{
        min-width: 12vw;
    }
    #smallToolContainer2{
        min-width: 4vh;
    }
    .instrumentTitle{
        width: min-content;
    }
    #importMIDIDiv{
        width: 80%;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        padding: 1vh;
    }
    .cell{
        border-right-width: 0.3vw;
    }
    .beatStop{
        border-right-width: 0.6vw;
    }
    .tempoContainer {
        flex-direction: row;
    }

    .rightContainer {
        flex-direction: row-reverse;
    }

    .tempoButton {
        width: 10vw;
    }

    .rightContainer button {
        min-width: 0px;
    }

    #toolsDiv {
        width: 90%;
        height: 40vh;
        bottom: 10vh;
    }

    .cell {
        min-width: 2.4vw;
        width: 2.4vw;
    }
    #playIndicator{
        min-width: 2.4vw;
        width: 2.4vw;
    }
    .tool {
        font-size: 0.8em;
        background-size: 100%;
    }

    .toolsContainer {
        min-width: 100px;
    }

    .toolsContainerRight {
        min-width: 50px;
    }

    #settingsDiv {
        width: 80%;
        padding: 3vw;
    }

    #promptDiv {
        width: 80%;
    }
}