* {
    margin: 0;
    font-family: Arial;
    user-select: none;
}

body {
    background: rgb(83,167,203);
    background: linear-gradient(190deg, rgba(83,167,203,1) 0%, rgba(87,181,98,1) 100%);
    padding: 0;
    height: 100%;
    min-height: 100vh;
    text-align: center;
}

.notesWrapper {
    width: 100%;
    height: 45vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    box-sizing: border-box;
}

#songContainer {
    height: 100%;
    border: solid 2px #dad8b3;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 1);
    padding: 5px;
    text-align: left;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0 0 0 5px;
}

.addPage{
    height: 100%;
    min-width: 30px;
    border: solid 2px #dad8b3;
    border-radius: 5px;
    font-size: 1.2em;
    z-index: 10;
    background-color: rgba(22, 22, 22, 1);
    color: #dad8b3;
    cursor: pointer;
    -webkit-appearance:none;
    padding: 0;
}
.toolsContainer {
    width: 14%;
    min-width: 150px;
    height: 100%;
    border-radius: 10px;
    background-color: #dad8b3;
    padding: 2px;
    box-sizing: border-box;
    border: 2px solid #dad8b3;
    display: inline-flex;
    flex-wrap: wrap;
}

.toolsContainer div {
    width: 50%;
    height: 25%;
    position: relative;
    padding: 2px;
    box-sizing: border-box;
}

.toolPlaceholder {
    position: absolute;
    top: 10px;
    width: calc(100% - 4px);
    font-size: 0.7em;
    color: #dad8b3;
    display: block;
}

.tool {
    background-size:35%; 
    background-repeat:no-repeat;
    background-position: center;
    -webkit-background-origin:border;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #dad8b3;
    background-color: rgba(22, 22, 22, 1);
    color: #dad8b3;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    -webkit-appearance:none;
    padding: 0;
}

.mirrorX{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.tool.half {
    width: 45%;
}

div.full {
    width: 100%;
}

.cell {
    display: inline-block;
    min-width: 1.6vw;
    width: 1.6vw;
    height: 100%;
    margin-right: 0.2em;
    background-color: #dad8b3;
    opacity: 0.6;
    padding-bottom: 0.1em;
    cursor: pointer;
}

.note {
    height: calc((100% / 15) - 0.1em);
    width: 80%;
    margin: auto;
    margin-top: 0.1em;
    background-color: transparent;
    text-align: center;
}

#bottom {
    display: flex;
    flex-direction: column;
    height: 55vh;
    align-content: center;
}

#touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    padding: 5px;
    box-sizing: border-box;
}

[id^=row] {
    display: flex;
    height: calc((100% + 1vh)/3);
    max-height: calc(80px + 1vh);
    align-content: start;
    justify-content: center;
}

[id^=Key] {
    display: inline-block;
    height: calc(100% - 1vh);
    width: calc((100% - 5vh)/5);
    max-width: 80px;
    padding: 0.5vh;
    background: transparent;
    cursor: pointer;
    position: relative;
    object-fit: contain;
}

[id^=Key],button {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btnBg {
    z-index: 0;
    border-radius: 0.8em;
    box-sizing: border-box;
    border: 5px solid transparent;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.65);
    cursor: pointer;
    display: block;
}

.btnImg {
    width: calc(100% - 1vh);
    height: calc(100% - 1vh);
    z-index: 1;
    position: absolute;
    top: 0.5vh;
    left: 0.5vh;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
    cursor: pointer;
    display: block;
}

.skyButton, .tempoButton, .select {
    cursor: pointer;
    height: 30px;
    margin: 4px 2px 0 2px;
    min-width: 80px;
}

.skyButton {
    border: solid 2px #dad8b3;
    text-decoration: none;
    border-radius: 0.4em;
    box-sizing: border-box;
    background-color: rgba(22, 22, 22, 0.65);
    color: #dad8b3;
    font-weight: bold;
}

.tempoButton {
    font-weight: bold;
    width: 8vw;
    min-width: 0;
    border: solid 2px #dad8b3;
    text-decoration: none;
    border-radius: 0.3em;
    color: rgba(22, 22, 22, 0.65);
}

.tempoContainer{
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    display: flex;
    flex-direction: column;
}
.select {
    border: solid 2px #dad8b3;
    text-decoration: none;
    border-radius: 0.3em;
    color: #dad8b3;
    width: 10vw;
    background-color: rgba(22, 22, 22, 0.65);
    text-align-last: center;
    padding: 0 10px 0 10px;
    display: block;
    float: right;
    margin-left: 1vw;
}

.settingOption{
    width: 80%; 
    color:#dad8b3; 
    display:inline-block;
    vertical-align: middle;
    line-height: 40px;
}
.floatingBottomLeft {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
}

#bpm{
    float:right;
    text-align: center;
    width: 10vw;
}
.btnText {
    font-family: Arial;
    color: #dad8b3;
    font-size: 1.2em;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@keyframes click-key {
	from {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(0.5, 1);
	}

	50% {
		transform: scale(0, 1);
	}

	to {
		transform: scale(1, 1);
    }
}

@keyframes click-scale {
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}

	to {
		transform: scale(1);
	}
}

.keyScale {
	animation-name: click-scale;
	animation-timing-function: linear;
	animation-duration: 0.15s;
	animation-iteration-count: initial;
	animation-play-state: 1;
	/* For Chrome & Safari */

	-webkit-animation-name: click-scale;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 0.15s;
	-webkit-animation-iteration-count: initial;
	-webkit-animation-play-state: 1;
}

.keyTurn {
	animation-name: click-key;
	animation-timing-function: linear;
	animation-duration: 0.15s;
	animation-iteration-count: initial;
	animation-play-state: 1;
	/* For Chrome & Safari */

	-webkit-animation-name: click-key;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 0.15s;
	-webkit-animation-iteration-count: initial;
    -webkit-animation-play-state: 1;
}

#settingsDiv{
    position: absolute;
    border: 2px solid #dad8b3;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 1);
    display: none;
    width: 49%;
    height: 49%;
    left: 25%;
    top:25%;
    z-index: 100;
    text-align: left;
    padding:1vw;
    overflow-y: auto;
}
#copyDiv,#importMIDIDiv{
    color: #dad8b3;
    position: absolute;
    border: 2px solid #dad8b3;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 1);
    display: none;
    width: 30%;
    height: 35%;
    right: 0.5em;
    bottom: 0.5em;
    z-index: 100;
    text-align: left;
    padding:1vw;
    overflow-y: auto; 
}